@{
    ViewData["Title"] = "Completed Projects";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewData["Title"]</h2>
<p>Here are some completed projects</p>
@await Html.PartialAsync("_Sidebar")
